*{
margin: 0%;
box-sizing: border-box;
}

div.container{
    border: 1px solid red;
    display: flex;
    /* flex-wrap: ;
    justify-content: center;
    margin: top 40%;  */
    font-family: Arial, Helvetica, sans-serif;
    
}

div.result {
    border: 1px solid rgb(35, 168, 53);
    padding: 40px;
    background-color: #6240FB;
    border-radius: 30px;
    width: 300px;
    height: 400px;
    text-align: center;
    
  
} 



p.p1, .p4, .span2{
    color: rgb(197, 190, 190);

}

.span1{
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.p2{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius:50% ;
    background-image: linear-gradient(180deg,#4924CE,  rgba(94, 104, 255, 0.2));
    box-shadow: ;
    margin: auto;
}
.p3{
    color: white;
    font-size: 15px;
    font-weight: 540;
}
.p4{
    font-size: 12px;
   word-spacing: 2px;
   opacity: 0.8;
}

p{
    margin: 20px;
}


/* summary section */
div.summary{
    border: 1px solid rgb(81, 140, 207);
    background-color: white;
    width: 300px;
    height: 400px;
    /* padding: 40px; */
    /* text-align: center; */
    border-radius: 30px;
}

div.summary h4{
    color: black;
    opacity: 0.9;
}
div.summary section{
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-radius: 10px;
    border: 1px solid red;
    width: 80%;
    height: 50px;
    padding: 0px;
    margin: 0 auto 20px;

}

section i{
    /* margin-left: 5px; */
}

.sec1 p:first-child{
    color: red;
    font-weight: 550;
    
}
.sec2 p:first-child{
    color: rgb(235, 235, 14);
    font-weight: 550;
}
.sec3 p:first-child{
    color: #47f1c7;
    font-weight: 550;
}
.sec4 p:first-child{
    color: rgb(58, 30, 158);
    font-weight: 550;
}

.sec1{
    background-color:#FFF7F5;

}

.sec2{
    background-color: #FDFDEF;
}
.sec3{
    background-color:#F2FBFA;
}
.sec4{
    background-color:#F3F3FF;
}
